@using Microsoft.AspNetCore.Identity
@using Wiggly.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<title>AdminLTE 3 | Blank Page</title>*@
    <title>@ViewData["Title"] - LibraManagement</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">

    <link href="~/css/devextreme/bootstrap.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
    <script src="~/js/devextreme/jquery.js"></script>
    <script src="~/js/devextreme/bootstrap.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>

    <link href="~/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>

    <link href="~/css/site.css" rel="stylesheet" />
    @*<link href="~/css/Site.css" rel="stylesheet" />*@
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light" style="background: #ffcff4;">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>


            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("SearchLocation", "Page", new { area = "farmer" })">
                        <i class="fas fa-search"></i>
                    </a>
                </li>

                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#notif-parent">
                        <i class="far fa-bell"></i>
                        @*<span class="badge badge-warning navbar-badge" style="font-size: .6rem; font-weight: 300; padding: 2px 4px; position: absolute; right: -5px; top: 9px">15</span>*@
                    </a>
                    <div id="notif-parent" class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="max-width:350px">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">
                            <i class="fas fa-thumbs-up mr-2"></i> 4 new messages
                            @*<span class="float-right text-muted text-sm">3 mins</span>*@
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-calendar mr-2"></i> 4 new messages
                            @*<span class="float-right text-muted text-sm">3 mins</span>*@
                        </a>

                    </div>
                </li>

            </ul>

        </nav>
        <template id="notif-template">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">
                <i class="fas fa-bell mr-2"></i> 3 new reports
                @*<span class="float-right text-muted text-sm">2 days</span>*@
            </a>
        </template>

        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Farmer</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/dist/img/person-thumbnail.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a asp-area="Farmer" asp-controller="Page" asp-action="profile" class="d-block">
                            @(UserManager.GetUserAsync(User).Result.Firstname + " "
                            + UserManager.GetUserAsync(User).Result.LastName )
                        </a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a asp-area="Farmer" asp-controller="Page" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>

                        @*<li class="nav-item">
                                <a asp-area="Farmer" asp-controller="Page" asp-action="Marketplace" class="nav-link">
                                    <i class="nav-icon fas fa-store"></i>
                                    <p>Marketplace</p>
                                </a>
                            </li>*@

                        <li class="nav-item">
                            <a asp-area="Farmer" asp-controller="Page" asp-action="Chat" class="nav-link">
                                <i class="nav-icon fas fa-comments"></i>
                                <p>Chat</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="Farmer" asp-controller="Page" asp-action="Transaction" class="nav-link">
                                <i class="nav-icon fas fa-file-invoice-dollar"></i>
                                @*<i class="fa-solid fa-file-invoice-dollar"></i>*@
                                <p>Transactions</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Farmer" asp-controller="Page" asp-action="Calendar" class="nav-link">
                                <i class="nav-icon fas fa-calendar-day"></i>
                                @*<i class="fa-solid fa-file-invoice-dollar"></i>*@
                                <p>Calendar</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="Farmer" asp-controller="Account" asp-action="Logout" class="nav-link">
                                @*<i class="nav-icon fas fa=log"></i>*@
                                <i class="nav-icon fas fa-arrow-right"></i>
                                @*<i class="fa-solid fa-file-invoice-dollar"></i>*@
                                <p>Logout</p>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>






        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!-- Main content -->
                            <!-- title row -->
                            <div class="row">
                                <div class="col-12">

                                    @RenderBody()
                                </div>
                                <!-- /.col -->
                            </div>
                        </div>
                    </div>
                </div>



            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @*<footer class="main-footer">
                <div class="float-right d-none d-sm-block">
                    <b>Version</b> 3.2.0
                </div>
                <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
            </footer>*@


        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>


    <div class="modal" id="modal-viewBooking" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Booking Request</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="post">
                        <div class="post-infos" style="line-height:10px">
                            <h4 class="booking-info-msg">Some one booked you</h4>
                            <p class="booking-info-livestockType">Livestock type: <b>value</b></p>
                            <p class="booking-info-livestockQty">Quantity: <b>value</b></p>
                            <p class="booking-info-livestockAmount">Amount: <b>value</b> </p>
                            <p class="booking-info-livestockKilos">Kilos: <b>value</b></p>
                            <p class="booking-info-livestockAddress">Address: <b>value</b></p>
                        </div>
                        <div class="image-container">
                            <ul>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="modal-footer left">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                    <button type="button" class="btn btn-success" id="booking-accepted">Accept</button>
                    <button type="button" class="btn btn-danger" id="booking-declined">Decline</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <script>
        function loadNotification() {
            const loadNotif = new Promise(function (resolve, reject) {
                $.ajax({
                    url: "/Farmer/NotificationAPI/GetNotification",
                    success: function (data) {
                        resolve(data)
                    },
                    error: function (data) {
                        reject(data)
                    }
                });
            });

            loadNotif.then((data) => {
                console.table(data);
                let template = document.querySelector('template#notif-template');
                var parent = document.querySelector('#notif-parent');

                parent.innerHTML = "";
                if (data.length > 0) {
                    $.each(data, function (i, item) {
                        let clone = template.content.cloneNode(true);

                        if (item.NotifType == "Booking") {
                            clone.querySelector("a").innerHTML = "<i class=\"fas fa-bell mr-2\"></i> " + item.Message + "<br/> <button type=\"button\" class=\"btn btn-success view-booking-notif\" data-bookingReqID=\"" + item.BookingRequest + "\" data-notificationID=\"" + item.Id + "\">View</button> ";

                        } else {
                            clone.querySelector("a").innerHTML = "<i class=\"fas fa-bell mr-2\"></i> " + item.Message;
                        }
                        parent.appendChild(clone);
                    });
                } else {
                    console.log("no comment");
                    parent.innerHTML = "<p>No notifications.</p>";
                }
            }).catch((data) => {
                console.log(data);
                parent.innerHTML = "<p>No notifications.</p>";

            });
        }

        $(document).ready(function () {
            loadNotification();

            //booking notif  clicked for view
            $("body").on("click", ".view-booking-notif", function () {
                //goto the page of the view bookin request
                //console.log();
                var bookingRequest = $(this).attr("data-bookingReqID");
                var notificationID = $(this).attr("data-notificationID");
                console.log(bookingRequest);
                console.log(notificationID);
                //get the data
                var p = new Promise(function (resolve, reject) {
                    $.ajax({
                        url: "../../BookingRequestAPI/GetBookingRequestFarmer?id=" + bookingRequest,
                        success: function (data) {
                            resolve(data);

                        },
                        error: function (data) {
                            reject(data)
                        }
                    });
                });
                //populate the data to the modal
                p.then((data) => {
                    //toastr.success('Booking Success!');
                    console.log(data);
                    document.querySelector(".booking-info-msg").innerHTML = data.Message;
                    document.querySelector(".booking-info-livestockType b").innerHTML = data.Category;
                    document.querySelector(".booking-info-livestockQty b").innerHTML = data.Quantity;
                    document.querySelector(".booking-info-livestockAmount b").innerHTML = data.Amount;
                    document.querySelector(".booking-info-livestockKilos b").innerHTML = data.Kilos;
                    document.querySelector(".booking-info-livestockAddress b").innerHTML = "address comes here";

                    document.querySelector("#booking-accepted").setAttribute("data-value", data.Id);
                    document.querySelector("#booking-accepted").setAttribute("data-notifID", notificationID);

                    document.querySelector("#booking-declined").setAttribute("data-value", data.Id);
                    document.querySelector("#booking-declined").setAttribute("data-notifID", notificationID);

                    $('#modal-viewBooking').modal("toggle");

                }).catch((err) => {
                    toastr.error('Something unexpected happened adding a booking, try again later.');

                    console.table(err);
                });
                //show modal

                //window.location.replace("/farmer/ViewBookingRequest?bookingRequest="+bookingRequest);
            });

            $("body").on("click", "#booking-accepted", function () {
                //console.log("booking will be accepted");
                var brId = $(this).attr("data-value");
                var notifId = $(this).attr("data-notifID");
                var p = new Promise(function (resolve, reject) {
                    $.ajax({
                        url: "../../BookingRequestAPI/AcceptOrDeclineBooking?id=" + brId + "&status=Accepted&notificationId=" + notifId,
                        success: function (data) {
                            resolve(data);
                        },
                        error: function (data) {
                            reject(data)
                        }
                    });
                });
                //populate the data to the modal
                p.then((data) => {
                    $('#modal-viewBooking').modal("toggle");
                    toastr.success('Booking Accepted!');
                    location.reload();
                }).catch((err) => {
                    //toastr.error('Unexpected happpened!');
                    console.log(err);
                });
            });

            $("body").on("click", "#booking-declined", function () {
                //console.log("Booking declined");
                var brId = $(this).attr("data-value");
                var notifId = $(this).attr("data-notifID");
                var p = new Promise(function (resolve, reject) {
                    $.ajax({
                        url: "../../BookingRequestAPI/AcceptOrDeclineBooking?id=" + brId + "&status=Declined&notificationId=" + notifId,
                        success: function (data) {
                            resolve(data);
                        },
                        error: function (data) {
                            reject(data)
                        }
                    });
                });
                //populate the data to the modal
                p.then((data) => {
                    $('#modal-viewBooking').modal("toggle");
                    toastr.error('Booking declined!');
                    location.reload();

                }).catch((err) => {
                    //toastr.error('Unexpected happpened!');
                    console.log(err);
                });
            });

        });
    </script>

    <!-- ./wrapper -->
    <!-- jQuery -->
    @*<script src="../../plugins/jquery/jquery.min.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>


    <script src="~/plugins/leaflet/leaflet.js"></script>

    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <!-- AdminLTE for demo purposes -->
    @*<script src="/dist/js/demo.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/dist/js/pages/dashboard.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
