@{
    ViewData["Title"] = "Project Wiggly";
}

<div class="text-center">

    <img src="/images/wiggly.png" alt="banner" />
</div>
<div class="text-center">
    <a href="@Url.Action("Register" ,"Account")" class="btn btn-primary">
        Sign Up
    </a>
    <a href="@Url.Action("Login" ,"Account")" class="btn btn-primary">
        Log In
    </a>
</div>
